/*INICIO HOME*/
@font-face {
    font-family: 'Paris2024';
    src: url('Paris2024-Variable.ttf') format('truetype');
   
}
.nav-item {
  font-family: 'Paris2024', sans-serif;
  font-size: 22px;
  font-weight: 500;
}


h1, h2 {
    font-family: 'Paris2024', sans-serif;
}

.carousel {
  padding-top: 20px;
}


.navbar {
  background-color: rgba(0, 0, 0, 0.9) !important; 
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-left: 50px ;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  transition: 0.8s;
}
  
.navbar .nav-item {
  margin-right: 10px; 
}
          
.navbar:hover {
  transition: 0.8s;
  background-color: #000000 !important; 
}

.navbar .nav-link {
  color: #fff; 
}

.navbar .nav-link:hover {
  color: #fff; 
}
      
.texto-carr h1 {
  font-size: 32px; 
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  color: #ffffff;
}
     
.texto-carr {
  font-family:  "Paris 2024", "Olympic Headline", Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}
  
h1 {  
  font-size: 85px;
  font-weight: bold;
}
  
h2 {
  font-size: 47px;
  font-weight: bold;
}
/*FIM DO HOME*/

/*COMEÇO CONTATO*/


section p{
  font-size: 2rem;
  text-align: center;
  display: block;
}


.conteiner-form{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(img/background-image_contato.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  width: auto;
  height: 60%;
  padding: 7%;
  margin: 10px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 99;
  color: #fff;
}

form section{
  font-size: 1.5rem;
}

.input-contato{
  position: relative;
  width: 100%;
  height: 60px;
  margin: 10px;
  font-size: 1rem;
  max-width: 310px;
}

.input-contato label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  display: block;
  margin-bottom: 10px;
}

.input-contato:focus + label,
.input-contato:valid + label {
  top: -5px;
}


.input-contato textarea{
  width: 100%;
  margin-top: 10px;
  resize: none;
  color: #fff;
  background-color: transparent;
  border: solid 2px gold;
  border-radius: 5px;
}

.input-contato textarea::-webkit-input-placeholder{
  color:rgba(231, 209, 65, 0.678);
  font-style: bold;
}
.input-contato textarea::-moz-placeholder {
  color:#C4C;
  background-color: #4C4;
  text-transform: uppercase;
  font-style: bold;
}
#form button{
  position: relative;
  bottom: 0;
  margin-bottom: 2%;
}

#form input{
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #ffffff;
  border-bottom: solid #000 2px;
}

#form label{
  position: absolute;
  left: 5px;/*joga para a esquerda e da distanciamento de 5 pixels*/
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #FFCF47;
  font-weight: 500;
  pointer-events: none;/*nao deixa o cursor do mouse ficar como se estivesse em cima de um texto*/
  transition: .5s;
  margin-bottom: auto;
}

.input-contato input:focus + label,
.input-contato input:valid + label {
  top: -5px;
}


.input-contato textarea{
  margin-top: 3%;
  display: block;
}

#form button{
  height: 50px;
  width: 50%;
  margin: 2%;
  color: #FFF;
  border: none;
  background-color: blue;
  border-radius: .5em;
  transition: .5s;
}

#form button:hover{
  background-color: gold;
  color: #000000;
  transition: .5s;
}

@media screen and (max-width: 375px){
  #form{
    width: 85%;
  } 
  section{
    font-size: 6px
  }
  #form label{
    font-size: 1rem
  }
  #form input{
    font-size: small;
  }

}

@media screen and (max-width: 768px){
  section{
    font-size: 1em
  }
  #form label{
    font-size: 1rem
  }
  #form input{
    font-size: medium;
  }

}

@media screen and (max-width: 770px){
  .navbar-toggler{
    position: absolute;
    right: 0;
    margin-right: 10%;
  }
} 


/*CONTATO ACABA AQUI*/

* {
  margin: 0;
  padding: 0;
}

.container-custom {
  padding-top: 18vh;
  margin-left: 5%;
  margin-right: 5%;
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.image-text-container img {
  width: 100%;
  max-width: 40%;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 2%;
}

.text-content {
  max-width: 55%;
  flex-grow: 1;
  text-align: justify;
}

.image-text-container.full-width img {
  max-width: 100%;
  height: auto;
  margin-right: 0;
}

@media (max-width: 768px) {
  .image-text-container img {
      max-width: 99%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 15px;
  }

  .text-content {
      max-width: 99%;
  }

  .container-custom {
    padding-top: 18vh;
  }
}

.footer2 {
  background-color: #000000;
  color: white;
  padding: 15px;
  text-align: center;
}

#titulx {
  font-family: 'Paris2024', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}

.layout {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.l1 .textt, .l2 .textt, .l3 .textt {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.l1 .imagemm, .l2 .imagemm {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.l1 .imagemm img, .l2 .imagemm img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.l3 {
    flex-direction: column;
    text-align: left;
    width: 100%; 
  }

  .l3 .textt {
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    text-align: left; 
  
  }

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    padding: 10px;
  }

  .l1, .l2 {
    flex-direction: column; 
  }

  .l1 .textt, .l2 .textt, .l1 .imagemm, .l2 .imagemm {
    width: 100%;
    padding: 10px;
  }

  .l1 .textt, .l2 .textt {
    order: 1; 
  }

  .l1 .imagemm, .l2 .imagemm {
    order: 2; 
  }

  .l3 {
    padding: 10px;
  }
}

center {
  padding-bottom: 8px;
}

.p2 {
  font-size: 85px;
}
 /* tabelas */

 .tiluto {

  font-size: 70px;
  font-family:'Paris2024', sans-serif ;
  font-weight: 900;
  color: #000000;
  text-align: center;
 }

 td{
  font-family:'Paris2024', sans-serif ;
 }

 th{
  font-family:'Paris2024', sans-serif ;
 }

 /*TESTE DE MEDALHAS AQUI*/

#VictorLindo{
  width: 100%;
  display: inline;
  align-items: center;
  justify-content: center;
}

#VictorLindo iframe{
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 15%;
}

 .medals-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
}

.medals-table th, .medals-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.medals-table th {
  background-color: #eeea09;
  color: white;
}

.medals-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#medals-body td{
  text-align: center;
}
/*FIM DO TESTE PARA PAG MEDALHAS*/

/*Medalhas do Brasil*/

.table-brasil{
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
}

.table-brasil th, .table-brasil td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-brasil th {
  background-color: #5fc11e;
  color: rgb(0, 0, 0);
}

.table-brasil tr:nth-child(even) {
  background-color: #9f4242;
}
/*FIM DO MEDALHAS DO BRASIL*/

 /*PARTE LOGIN*/
 .btn-login{
  height: 50px;
  width: 120px;
  background-color: transparent;
  color: #fff;
  border: solid 2px #FFF;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

.btn-login:hover{
  background-color: #FFF;
  color: #000;
  transition: .5s;
}

.conteiner-login{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/background-image_login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.conteiner-login form h2{
  color: #FFF;
  position: relative;
  top: 0;
}


.form-login {
  margin: 0 auto;
  display: grid;
  padding: 1%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #000;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

label {
  color: #ffffff;
}

.inputbox {
  position: relative;
  max-width: 310px;
  border-bottom: 2px solid #ffffff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus + label,
input:valid + label {
  top: 5px;
  font-size: .85rem;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #ffffff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: gold;
  font-size: 1.2rem;
  top: 20px;
}

.forget {
  margin: 35px 0;
  font-size: 0.85rem;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

.buttonl {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

.buttonl:hover {
  background-color: gold;
  color: #000000;
}

/* Fim do Login*/

/* Botão */

div.btn btn-secondary btn-lg active{
margin-top: 0px;
}

/*PARTE DO CADASDTRO*/
/*
.conteiner-cad{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/background-image_cad.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-cad {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  margin: 0 auto;
  border-radius: 24px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
}

.form-cad h2{
  width: 100%;
  text-align: center;
  margin-bottom: 20px; 
}

.inputbox-cad {
  position: relative;
  max-width: 310px;
  border-bottom: 2px solid #ffffff;
  margin: 1%;
}

.inputbox-cad label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.inputbox-cad input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #ffffff;
}

.form-cad button {
  position: relative;
  bottom: 0px;
}

.btn-cad{
  width: 50%;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: none;
  top: 5%;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
  margin: 20xpx auto 0;
}

.btn-cad:hover{
  background-color: gold;
}
  */
  .conteiner-cad {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/background-image_cad.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-cad {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  .form-cad h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .inputs-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .inputs-column {
    width: 48%; /* Ajuste conforme necessário */
  }
  
  .inputbox-cad {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inputbox-cad input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
  }
  
  .inputbox-cad label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .inputbox-cad input:focus + label,
  .inputbox-cad input:valid + label {
    top: -20px;
    font-size: 12px;
  }
  
  .btn-cad {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-cad:hover {
    background-color: gold;
  }

  .inputbox-cad-radio{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .inputs-column {
      width: 100%;
    }
  }

/*FIM DO CADASTRO*/ 