/*INICIO HOME*/
*
{
 font-family: 'Paris 2024' sans-serif;   
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important; 
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-left: 50px ;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  transition: 0.8s;
}
  


.navbar-brand{
  position: relative;
  right: auto;
  margin-right: 10px;
}

.navbar .nav-item {
  margin-right: 10px; 
}
          
.navbar:hover {
  transition: 0.8s;
  background-color: #000000 !important; 
}

.navbar .nav-link {
  color: #fff; 
}

.navbar .nav-link:hover {
  color: #fff; 
}
      
.texto-carr h1 {
  font-size: 32px; 
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  color: #0e0c0c;
}
     
.texto-carr {
  font-family:  "Paris 2024", "Olympic Headline", Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}
  
h1 {  
  font-size: 85px;
  font-weight: bold;
}

h2 {
  font-size: 47px;
  font-weight: bold;
}

.footer{
  background-color: #000000;
  color: #fff;
  padding: 7px;
  text-align: center;
}

/*FIM DO HOME*/

/*COMEÇO CONTATO*/

section p{
  font-size: 2rem;
  text-align: center;
  display: block;
}


.conteiner-form{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(img/background-image_contato.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  width: 40%;
  height: 60%;
  padding: 20px;
  margin: 10px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 99;
  color: #fff;
}

form section{
  font-size: 1.5rem;
}

.input-contato{
  position: relative;
  width: 100%;
  height: 60px;
  margin: 10px;
  font-size: 1rem;
}

.input-contato label{
  position: relative;
  top: 0;
  z-index: 99;
  margin-bottom: 10%;
}

.input-contato textarea{
  width: 100%;
  margin-top: 10px;
  resize: none;
}

#form button{
  position: relative;
  bottom: 0;
  margin-bottom: 2%;
}

#form input{
  width: 100%;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  font-size:  1em;
  color: #ffffff;
  border-bottom: 2px solid #000;
  font-weight: 600;
  margin-bottom: auto;
  position: relative;
  bottom: 0;
}

#form label{
  position: absolute;
  left: 5px;/*joga para a esquerda e da distanciamento de 5 pixels*/
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #FFCF47;
  font-weight: 500;
  pointer-events: none;/*nao deixa o cursor do mouse ficar como se estivesse em cima de um texto*/
  transition: .5s;
  margin-bottom: auto;
}

.input-contato input:focus + label,
.input-contato input:valid + label {
  top: -5px;
}

.input-contato-textarea{
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2%;
  margin-top: 10px;
}

.input-contato textarea{
  margin-top: 3%;
}

#form button{
  height: 50px;
  width: 100%;
  margin: 2%;
  color: #FFF;
  border: none;
  background-color: blue;
  border-radius: .5em;
  transition: .5s;
}

#form button:hover{
  background-color: gold;
  color: #000000;
  transition: .5s;
}

@media screen and (max-width: 375px){
  #form{
    width: 85%;
  } 
  section{
    font-size: 6px
  }
  #form label{
    font-size: 1rem
  }
  #form input{
    font-size: small;
  }

}

@media screen and (max-width: 768px){
  #form{
    width: 85%;
  } 
  section{
    font-size: 1em
  }
  #form label{
    font-size: 1rem
  }
  #form input{
    font-size: medium;
  }

}

@media screen and (max-width: 770px){
  .navbar-toggler{
    position: absolute;
    right: 0;
    margin-right: 10%;
  }
} 